.parent{
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: repeating-linear-gradient(70deg
    ,rgb(95, 29, 29),rgb(28, 172, 216) 2%);
}
.headindigTop{
    text-align: center;
    color: brown;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px -2px rgb(239, 91, 0);
}
h2,.pre{
    color: red;
    font-family: cursive;

}
pre{
    margin: 20px;
    font-size: 25px;
    color: green;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.answer{
    display: flex;
    margin-left: 30px;
}
.output{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}